@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: roboto;
    margin: 0;
    width: 100vw;
}

.course-program{
    margin: 0px;
    box-sizing: border-box;
}

.block-4-title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 6.93vw;
    line-height: 6.93vw;
    margin: 42px 0px 53px 36px;
    padding: 0px;
    
}

.program-container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0px 0px 47.16px 95px;
    padding: 0px;
}

.program-container-item{
    width: 185.92px;
    height: 152.84px;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
    margin: 0;
    margin-bottom: 24.16px;
    padding: 0px;
}

.program-picture{
    width: 185.92px;
    
}

.block-4-subtitle{
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    margin-top: 5.13px;
    margin-left: 9.32px;
    margin-bottom: 0px;
    padding: 0px;
}

.program-date-info{
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-left: 9.32px;
    padding: 0px;
    margin-top: 14.91px;
}

.program-date-info-last{
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-left: 9.32px;
    padding: 0px;
    margin-top: 4px;
}

.cost{
    padding: 61px 32px 53px 36px;
    width: 100vw;
    background: #9DC9C8;
    margin: 0px;
}

.block-cost-title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    max-width: 60%;
    font-size: 6.93vw;
    line-height: 6.93vw;
    margin: 0px;
    padding: 0px;
    margin-bottom: 8.7%;
}

.cost-container-flex{
    display: flex;  
}

.cost-container-flex-item{
    max-width: 37%;
    margin: 0px;
    padding: 0px;
    margin-right: 8%;
}
.cost-paragraph{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.67vw;
    line-height: 101.38%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

.cost-subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2vw;
    line-height: 101.38%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    
}

.cost-number{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9.93vw;
    line-height: 101.38%;
    margin: 0px;
    margin-bottom: 8.7%;
    padding: 0px;
}

@media (min-width: 992px) and (max-width: 1279px) {

    .course-program{
        width: 100%;
        min-height: 60vh;
    }

    .block-4-title{
        font-size: 3.23vw;
        line-height: 6.93vw;
        width: 65.60vw;
        margin: 55px 0px 64px 74px;
    }

    .program-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 800px;
        margin: 0px;
        padding: 0px 0px 52.6px 48.65px;
    }

    .program-container-item{
        width: 231.09px;
        height: 189.97px;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        margin-bottom: 24px;
        margin-right: 20px;
        padding: 0px;
    }

    .program-picture{
        width: 231.09px;
    }

    .block-4-subtitle{
        font-size: 17px;
        line-height: 15px;
        margin-top: 6.37px;
        margin-left: 11.58px;
        margin-bottom: 0px;
        padding: 0px;
    }

    .program-date-info{
        font-size: 14px;
        line-height: 18px;
        margin-top: 19px;
        margin-left: 11px;
        padding: 0px;
    }

    .program-date-info-last{
        font-size: 14px;
        line-height: 18px;
        margin-top: 4px;
        margin-left: 11px;
        padding: 0px;
    }

    .cost{
        padding: 104px 0px 110px 74px;
        width: 100%;
    }

    .block-cost-title{
        font-size: 3.23vw;
        line-height: 6.93vw;
        width: 65.60vw;
        margin-bottom: 4.3%;
    }
    
    .cost-paragraph{
        font-size: 1.01vw;
        width: 17.00vw;
        line-height: 101.38%;
    }

    .cost-container-flex-item{
        max-width: 37%;
        margin-right: 8%;
    }
 
    
    .cost-subtitle{
        width: 14.11vw;
        font-size: 1.41vw;
        line-height: 101.38%;
        margin-bottom: 6px;
    }
    
    .cost-number{
        font-size: 4.7vw;
        line-height: 101.38%;
        margin-bottom: 5.1%;
    }
}

@media (min-width: 1280px) {
        .course-program{
            width: 100vw;
        }

        .block-4-title{
            font-size: 4.30vw;
            line-height: 4.40vw;
            margin: 91px 0px 127px 126px;
            width: 68.05vw;
        }

        .program-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 1450px;
            margin-left: 84px;
            margin-bottom: 121px;
            padding: 0px;
        }

        .program-container-item{
            min-width: 350px;
            max-width: 399px;
            min-height: 288px;
            max-height: 328px;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            margin-bottom: 45px;
            margin-left: 0px;
            margin-right: 37px;
            padding: 0px;
        }

        .program-picture{
            min-width: 350px;
            max-width: 399px;
        }

        .block-4-subtitle{
            font-size: 1.8rem;
            line-height: 1.6rem;
            margin-top: 3.13px;
            margin-left: 20px;
            margin-bottom: 0px;
            padding: 0px;
        }

        .program-date-info{
            position: relative; 
            bottom: 0px;
            top: 0px;
            font-size: 25px;
            line-height: 32px;
            margin-top: 32px;
            margin-bottom: 0px;
            margin-left: 19px;
            padding: 0px;
        }

        .program-date-info-last{
            margin-top: 10px;
            position: relative; 
            bottom: 0px;
            top: 0px;
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 0px;
            margin-left: 19px;
            padding: 0px;
        }

        .cost{
            padding: 191px 0px 199px 126px;
            width: 100vw;
        }

        .block-cost-title{
            font-size: 4.30vw;
            line-height: 4.40vw;
            margin: 0 0 65px 0;
            width: 100vw;
            margin-bottom: 5%;
        }

        .cost-paragraph{
            font-size: 1.41vw;
            width: 22.80vw;
            line-height: 101.38%;
        }
    
        .cost-container-flex-item{
            max-width: 37%;
            margin-right: 8%;
        }
     
        
        .cost-subtitle{
            width: 17.97vw;
            font-size: 1.95vw;
            line-height: 101.38%;
            margin-bottom: 6px;
            
        }
        
        .cost-number{
            font-size: 4.7vw;
            line-height: 101.38%;
            margin-bottom: 5.1%;
        }
    }