@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
    font-size: 10px;
}

body {
    font-family: roboto;
    margin: 0;
    width: 100vw;
}

header {
    padding: 36px 32px 0 35px;
    width: 100vw;
}

@media(max-width: 375px) {
    header {
        padding: 28px 20px 0 27px;
    }
}

.logo {
    width: 14%;
    max-width: 64px;
    margin-bottom: 33px;
}

.timing {
    display: flex;
    margin-bottom: 8px;
    margin-top: 0;
    align-items: center;
    width: 75%;
    max-width: 283px;
}

.planet-img {
    width: 11px;
    margin-right: 3px;
}

.clock-img {
    width: 11px;
    margin-right: 3px;
}

.calendar-img {
    width: 11px;
    margin-right: 3px;
}

.timing-item-one {
    display: flex;
    width: 75px;
    line-height: 11px;
    margin-right: 4%;
    font-size: 1em;
}

.timing-item-two {
    display: flex;
    width: 67px;
    line-height: 11px;
    margin-right: 4%;
    font-size: 1em;
}

.timing-item-three {
    display: flex;
    width: 67px;
    line-height: 11px;
    font-size: 1em;
}

.watch-film-description {
    margin-right: 65px;
    font-size: 1em;
}

h1 {
    font-family: roboto slab;
    font-size: 3.7em;
    max-width: 262px;
    line-height: 37px;
    margin-top: 0;
    margin-bottom: 20px;
}

.watch-film-item {
    width: 212px;
    font-size: 1em;
    line-height: 15px;
}


.director-img {
    max-width: 204px;
    width: 38%;
    margin-left: 165px;
}

@media(min-width: 528px) {
    .director-img {
        max-width: 204px;
        width: 38%;
        margin-left: 0;
    }
}

.watch-film {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-bottom: 38px;
}

.quote {
    background-color: #1E4681;
    border-radius: 2.33px;
    color: white;
    font-size: 1.1em;
    font-family: roboto slab;
    line-height: 14.3px;
    width: 60vw;
    height: 25.07vw;
    padding: 9px 12px 9px 12px;
    box-sizing: border-box;
    max-width: 484px;
    max-height: 200px;
}

.quote-item {
    margin: 0;
}

.author {
    margin-top: 6px;
    font-size: 1em;
    text-align: end;
}

@media(min-width: 992px) {
    header {
        padding: 25px 165px 0 81px;
    }

    .logo {
        width: 8%;
    }

    .timing {
        max-width: 493px;
    }

    .planet-img {
        width: 1.5em;
        margin-right: 7px;
    }
    
    .clock-img {
        width: 1.5em;
        margin-right: 7px;
    }
    
    .calendar-img {
        width: 1.5em;
        margin-right: 8px;
    }
    
    .timing-item-one {
        display: flex;
        width: 95px;
        line-height: 11px;
        margin-right: 6%;
        font-size: 1.2em;
    }
    
    .timing-item-two {
        display: flex;
        width: 75px;
        line-height: 11px;
        margin-right: 6%;
        font-size: 1.2em;
    }
    
    .timing-item-three {
        display: flex;
        width: 88px;
        line-height: 11px;
        font-size: 1.2em;
    }    

    h1 {
        font-size: 5.3em;
        max-width: 567px;
        width: 385px;
        margin-bottom: 27px;
    }

    .watch-film-item {
        font-size: 1.4em;
        width: 290px;
        line-height: 1.6em;
    }

    .director-img {
        width: 22%;
        max-width: 304px;
        margin-left: 113px;
    }

    .watch-film {
        margin-bottom: 58px;
    }

    .quote {
        font-size: 1em;
        line-height: 1.8vw;
        width: 35%;
        height: 13vw;
        padding: 15px 15px 15px 15px;
        border-radius: 3.3px;
        margin-left: 20%;
        max-width: 484px;
        max-height: 200px;
    }
    
    .quote-item {
        font-size: 1.6vw;
    }
    .author {
        margin-top: 8px;
        font-size: 1.4vw;
        text-align: end;
    }
}
