@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-size: 10px;
}

body {
    font-family: Roboto;
    width: 100%;
    margin: 0px;
}

.course-program{
    margin: 0px;
    padding: 0px;
}

.block-4-title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 6.93vw;
    line-height: 6.93vw;
    margin: 42px 32px 53px 36px;
    padding: 0px;
}

header {
    padding: 36px 32px 0 35px;
    width: 100vw;
}

@media(max-width: 375px) {
    header {
        padding: 28px 20px 0 27px;
    }
}

.logo {
    width: 13.87vw;

    margin-bottom: 45px;
}

.program-container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0px 0px 47.16px 95px;
    padding: 0px;
}

.program-container-item{
    width: 49.5vw;
    height: 40.5vw;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 7.8%;
    margin: 0;
    margin-bottom: 24.16px;
    padding: 0px;
}

.program-picture{
    width: 100%;
}

.block-4-subtitle{
    font-family: Roboto;
    font-weight: bold;
    font-size: 3.73vw;
    line-height: 97%;
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 0px;
    padding: 0px;
}

.program-date-info{
    font-family: Roboto;
    font-weight: normal;
    font-size: 3.2vw;
    line-height: 130%;
    margin-left: 4%;
    padding: 0px;
    margin-top: 10%;
    
}

.program-date-info-last{
    font-family: Roboto;
    font-weight: normal;
    font-size: 3.2vw;
    line-height: 130%;
    margin-left: 4%;
    padding: 0px;
    margin-top: 3%;
}

.cost{
    padding: 61px 0px 53px 36px;
    width: 100vw;
    background: #9DC9C8;
    margin: 0px;
}

.block-cost-title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    max-width: 60%;
    font-size: 6.93vw;
    line-height: 6.93vw;
    margin: 0px;
    padding: 0px;
    margin-bottom: 8.7%;
}

.cost-container-flex{
    display: flex;  
}

.cost-container-flex-item{
    max-width: 37%;
    margin: 0px;
    padding: 0px;
    margin-right: 8%;
}

.cost-paragraph{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.67vw;
    line-height: 101.38%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

.cost-subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2vw;
    line-height: 101.38%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

.cost-number{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9.93vw;
    line-height: 101.38%;
    margin: 0px;
    margin-bottom: 8.7%;
    padding: 0px;
}

@media (min-width: 992px) and (max-width: 1279px) {

    .course-program{
        width: 100%;
        min-height: 60vh;
    }

    .block-4-title{
        font-size: 3.23vw;
        line-height: 6.93vw;
        width: 65.60vw;
        margin: 55px 256px 64px 74px;
    }

    .program-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 90%;
        margin: 0px;
        padding: 0px 0px 52.6px 48.65px;
    }

    .program-container-item{
        width: 22.5vw;
        height: 19.5vw;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        margin-bottom: 24px;
        margin-right: 20px;
        padding: 0px;
    }

    .block-4-subtitle{
        font-size: 1.71vw;
        line-height: 97%;
        margin-top: 3%;
        margin-left: 4%;
        margin-bottom: 0px;
    }

    .program-date-info{
        font-size: 1.41vw;
        line-height: 130%;
        margin-top: 10%;
        margin-left: 4%;
    }

    .program-date-info-last{
        font-size: 1.41vw;
        line-height: 130%;
        margin-top: 3%;
        margin-left: 4%;
    }

    .cost{
        padding: 104px 256px 110px 74px;
        width: 100%;
    }

    .block-cost-title{
        font-size: 3.23vw;
        line-height: 6.93vw;
        width: 65.60vw;
        margin-bottom: 4.3%;
    }
    
    .cost-paragraph{
        font-size: 1.01vw;
        width: 17.00vw;
        line-height: 101.38%;
    }

    .cost-container-flex-item{
        max-width: 37%;
        margin-right: 8%;
    }
 
    
    .cost-subtitle{
        width: 14.11vw;
        font-size: 1.41vw;
        line-height: 101.38%;
        margin-bottom: 6px;
    }
    
    .cost-number{
        font-size: 4.7vw;
        line-height: 101.38%;
        margin-bottom: 5.1%;
    }
}

@media (min-width: 1280px) {
    
        .course-program{
            width: 100vw;
        }

        .block-4-title{
            font-size: 4.30vw;
            line-height: 4.40vw;
            margin: 91px 0px 127px 126px;
            width: 68.05vw;
        }

        .program-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 100%;
            margin-left: 2.3%;
            margin-bottom: 121px;
            padding: 0px;
        }

        .program-container-item{
            width: 29.5vw;
            height: 24.5vw;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
            margin-bottom: 3%;
            margin-left: 0px;
            margin-right: 3%;
            padding: 0px;
        }

        .block-4-subtitle{
            font-size: 2.34vw;
            line-height: 97%;
            margin-top: 3%;
            margin-left: 4%;
            margin-bottom: 0px;
        }
    
        .program-date-info{
            font-size: 1.95vw;
            line-height: 130%;
            margin-top: 10%;
            margin-left: 4%;
        }
    
        .program-date-info-last{
            font-size: 1.95vw;
            line-height: 130%;
            margin-top: 3%;
            margin-left: 4%;
        }

        .cost{
            padding: 191px 0px 199px 126px;
            width: 100vw;
        }

        .block-cost-title{
            font-size: 4.30vw;
            line-height: 4.40vw;
            margin: 0 0 65px 0;
            width: 100%;
            margin-bottom: 5%;
        }

        .cost-paragraph{
            font-size: 1.41vw;
            width: 22.80vw;
            line-height: 101.38%;
        }
    
        .cost-container-flex-item{
            max-width: 37%;
            margin-right: 8%;
        }
     
        
        .cost-subtitle{
            width: 17.97vw;
            font-size: 1.95vw;
            line-height: 101.38%;
            margin-bottom: 6px;
        }
        
        .cost-number{
            font-size: 4.7vw;
            line-height: 101.38%;
            margin-bottom: 5.1%;
        }
    }

    margin-bottom: 8px;
    margin-top: 0;
    align-items: center;
    width: 61.33vw;
}

.planet-img {
    width: 2.67vw;
    margin-right: 3.75px;
}

.clock-img {
    width: 2.67vw;
    margin-right: 3.75px;
}

.calendar-img {
    width: 2.67vw;
    margin-right: 3.75px;
}

.timing-item-one {
    display: flex;
    width: 19.47vw;
    line-height: 2.93vw;
    margin-right: 14px;
    font-size: 2.67vw;
}

.timing-item-two {
    display: flex;
    width: 15.47vw;
    line-height: 2.93vw;
    margin-right: 15px;
    font-size:  2.67vw;
}

.timing-item-three {
    display: flex;
    width: 17.87vw;
    line-height: 2.93vw;
    font-size:  2.67vw;
}

.how-watch-movies {
    font-family: roboto slab;
    font-size: 9.87vw;
    line-height: 9.87vw;
    margin-top: 0;
    margin-bottom: 20px;
    width: 71vw;
}

.watch-film-item {
    width: 55.47vw;
    font-size: 2.67vw;
    line-height: 4vw;
}


.director-img {
    width: 37.87vw;
    margin-left: 44vw;
}

.watch-film {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-bottom: 38.64px;
}

.quote {
    background-color: #1E4681;
    border-radius: 0.55vw;
    color: white;
    line-height: 3.75vw;
    width: 60vw;
    height: 24.80vw;
    padding: 9px 12px 9px 12px;
    box-sizing: border-box;
    font-weight: 300;
}

.quote-item {
    margin: 0;
    font-family: roboto slab;
    font-size: 2.93vw;
}

.author {
    margin-top: 6px;
    font-size: 2.67vw;
    text-align: end;
    font-family: roboto;
}

@media(min-width: 992px) {

    header {
        padding: 22px 142px 0 71px;
    }

    .logo {
        width: 6.55vw;
    }


    .planet-img {
        width: 1.31vw;
        margin-right: 5px;
    }

    .clock-img {
        width: 1.31vw;
        margin-right: 6px;
    }

    .calendar-img {
        width: 1.31vw;
        margin-right: 7px;
    }

    .timing-item-one {
        display: flex;
        width: 9.17vw;
        margin-right: 18px;
        font-size: 1.21vw;
    }

    .timing-item-two {
        display: flex;
        width: 6.96vw;
        margin-right: 24px;
        font-size: 1.21vw;
    }

    .timing-item-three {
        display: flex;
        width: 8.87vw;
        font-size: 1.21vw;
    }

    .how-watch-movies {
        font-size: 4.64vw;
        width: 33.47vw;
        margin-bottom: 23px;
        line-height: 4.70vw;
    }

    .watch-film-item {
        font-size: 1.21vw;
        width: 25.40vw;
        line-height: 1.81vw;
    }

    .director-img {
        width: 17.74vw;
        margin-left: 113px;
    }

    .watch-film {
        margin-bottom: 51px;
    }

    .quote {
        width: 28.23vw;
        height: 11.65vw;
        padding: 12px 9px 16px 15px;
        border-radius: 0.30vw;
        margin-left: 23.89vw;
    }

    .quote-item {
        font-size: 1.41vw;
        line-height: 1.8vw;
    }

    .author {
        margin-top: 7px;
        font-size: 1.21vw;
        text-align: end;
    }
}

@media(min-width: 1280px) {

    header {
        padding: 21px 246px 0 121px;
    }

    .logo {
        width: 8.75vw;
    }

    .planet-img {
        width: 1.72vw;
        margin-right: 8px;
    }

    .clock-img {
        width: 1.72vw;
        margin-right: 10px;
    }

    .calendar-img {
        width: 1.72vw;
        margin-right: 13px;
    }

    .timing-item-one {
        display: flex;
        width: 11.80vw;
        margin-right: 38px;
        font-size: 1.56vw;
    }

    .timing-item-two {
        display: flex;
        width: 9.06vw;
        margin-right: 45px;
        font-size: 1.56vw;
    }

    .timing-item-three {
        display: flex;
        width: 10.80vw;
        font-size: 1.56vw;
    }

    .how-watch-movies {
        font-size: 6.25vw;
        width: 44.8vw;
        margin-bottom: 22px;
        line-height: 6.35vw;
    }

    .watch-film-item {
        font-size: 1.56vw;
        width: 32.34vw;
        line-height: 2.34vw;
    }

    .director-img {
        width: 23.75vw;
        margin-left: 201px;
    }

    .watch-film {
        margin-bottom:77px;
    }

    .quote {
        width: 37.79vw;
        height: 15.63vw;
        padding: 20px 27px 20px 25px;
        border-radius: 0.39vw;
        margin-left: 254px;
    }

    .quote-item {
        font-size: 1.95vw;
        line-height: 2.50vw;
    }

    .author {
        margin-top: 6px;
        font-size: 1.56vw;
        text-align: end;
    }
}
main{
    min-width: 320px;
    width: 100%;
}

.about-course{
    margin: 0px 30px 0px 36px;
}

.head {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 101.38%;
    margin-top: 56px;
    margin-bottom: 25.7px;
    padding-left: 1px;
}

.main-info{
    padding-left: 1px;
}

.all-text {
    margin-top: 18px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 150%;
}

.text{
    width: 100%;
    margin-bottom: 18px;
}
.main-image {
    text-align: center;
    margin-top: 19px;
    margin-bottom: 36px;
    width: 100%;
}

.main-image img{
    min-width: 170.55px;
    width: 22%;
    margin-top: -5px;
    margin-left: -5px;
}

.shedule{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 134px;
}

.shedule h3{
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 130%;
    margin-top: 8px;
    margin-bottom: 2px;
}

.shedule div{
    width: 22%;
    font-size: 1rem;
    margin-right: 34px;
    min-width: 86px;
}

.shedule p{
    margin-top: 0px;
    margin-bottom: 19px;
    max-width: 90px;
}

.shedule-image{
    display: none;
}

.class-format{
    margin:50px 0px 0px 36px;
}

.class-format h1{
    font-family: Roboto Slab;
    font-size: 2.6rem;
    line-height: 101.38%;
    width: 100%;
    margin-bottom: 35px;
}

.description-of-classes{

    width: 55%;
}

.class-format h3{
    font-family: Roboto;
    font-size: 1.2rem;
    line-height: 130%;
    /* or 16px */
    color: #1E4681;
    margin-bottom: 1px;
}

.class-format p{
    font-family: Roboto;
    font-size: 1rem;
    line-height: 130%;
    margin: 0px 10px 34px 0px;
}

.knowledge{
    margin:78px 0px 0px 36px;
}

.knowledge h1{
    font-family: Roboto Slab;
    font-size: 2.6rem;
    line-height: 101.38%;
    margin-bottom: 27px;
}

.knowledge ul{

    padding-inline-start: 11px;

    margin-right: 30px;
    /* or 18px */
}

.knowledge li{

    font-size: 0.8rem;

}
.knowledge span{
    display: block;
    font-family: Roboto;
    font-size: 1.2rem;
    line-height: 150%;
    margin-left: -2px;
}

@media (min-width:992px) and (max-width:1279px) {
    main{
        min-width: 992px;
        max-width: 1279px;
    }

    .about-course {
        margin: 0px 90px 0px 70px;
    }

    .head {
        font-size: 3.2rem;
        margin-bottom: 28.3px;
    }

    .main-info{
        display: flex;
        margin-bottom: 18px;
        width: 100%
    }

    .all-text {
        width: 46%;
        font-size: 1.4rem;
        margin: 0px 95px 0px 0px;
        padding: 0px;
    }

    .text{
        width: 100%;
        margin-top: 4px;
        margin-bottom: 21px;
    }

    .main-image{
        margin: 0px;
        width: 25%;
    }

    .main-image img{
        margin: 0px;
        width: 100%;
        min-width: 212px;
        margin: 8px 0px 0px 0px;
    }

    .shedule{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }

    .shedule h3{
        font-size: 1.5rem;
        margin-bottom: 4px;
        margin-top: 42px;
    }

    .shedule div{
        font-size: 1.1rem;
        width: 20%;
        margin-right: 43px;
    }
    .shedule-text{
        max-width: 100px;
    }
    .shedule-image  {
        display: block;
        justify-content: flex-start;
    }

    .shedule-image  img{
        position: relative;
        max-width: 135px;
    }

    .ellipse{
        margin: -18px 0px 5px 8px;
        z-index: 1;

    }

    .photo{
        z-index: 2;
    }

    .class-format{
        margin: 87px 90px 0px 70px;
    }

    .class-format h1{
        font-size: 3.2rem;
        width: 100%;
        margin-bottom: 60px;
    }

    .description-of-classes{
        display: flex;
        width: 100%;
    }

    .vebinar{
        width: 18%;
        margin-right: 50px;
    }

    .access{
        width: 22%;
        margin-right: 40px;
    }

    .communication{
        width: 22%;
    }

    .class-format h3{
        font-family: Roboto;
        font-size: 1.5rem;
        line-height: 130%;
        color: #1E4681;
        margin-bottom: 4px;
    }

    .class-format p{
        font-family: Roboto;
        font-size: 1.1rem;
        line-height: 130%;
    }

    .knowledge{
        margin: 87px 90px 0px 70px;
    }

    .knowledge h1{
        font-family: Roboto Slab;
        font-size: 3.2rem;
        line-height: 101.38%;
        margin-bottom: 35px;
    }

    .knowledge ul{
        padding-inline-start: 11px;
        margin-right: 30px;
        width: 45%;
    }

    .knowledge li{
        font-size: 0.8rem;
    }

    .knowledge span{
        display: block;
        font-family: Roboto;
        font-size: 1.4rem;
        line-height: 150%;
        margin-left: -2px;
    }
}

@media (min-width:1280px) {
    .main{
        min-width: 1280px;
    }

    .about-course{
        margin: 0px 90px 0px 120px;
    }

    .head {
        font-size: 5.5rem;
        margin-top: 91px;
        margin-bottom: 51.5px;
    }

    .main-info{
        display: flex;
        width: 100%;
    }

    .all-text {
        width: 55%;
        font-size: 2.4rem;
        margin: 0px 152px 36.7px 0px;
        padding: 0px;
    }

    .text{
        width: 100%;
        margin-top: 4px;
        margin-bottom: 36px;
    }

    .main-image{
        margin-top: 29.5px;
        width: 25%;
        min-width: 366px;
    }

    .main-image p{
        margin: 0px;
    }
    .main-image img{
        width: 100%;
        height: 344px;
        margin: 0px;
    }

    .shedule{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }

    .shedule h3{
        padding-top: 60px;
        font-size: 2.5rem;
        margin-bottom: 8.5px;
    }

    .shedule div{
        width: 20%;
        font-size: 1.8rem;
        margin:0px;
    }
    .shedule p{
        max-width: 160px;
    }

    .shedule-image  {
        display: block;
        padding-right:119px;
    }
    .shedule-image  img{
        position: relative;
    }

    .ellipse{
        margin: -18px 0px 5px 30px;
        z-index: 1;
    }

    .photo{
        z-index: 2;
    }

    .class-format{
        margin: 147px 90px 0px 120px;
    }

    .class-format h1{
        font-size: 5.5rem;
        width: 100%;
        margin-bottom: 100px;
    }

    .description-of-classes{
        display: flex;
        width: 100%;
    }

    .vebinar{
        width: 19%;
        margin-right: 115px;
    }

    .access{
        width: 22%;
        margin-right: 114px;
    }

    .communication{
        width: 22%;
    }

    .class-format h3{
        font-family: Roboto;
        font-size: 2.5rem;
        line-height: 130%;
        color: #1E4681;
        margin-bottom: 8px;
    }

    .class-format p{
        font-family: Roboto;
        font-size: 1.8rem;
        line-height: 130%;
    }

    .knowledge{
        margin: 185px 90px 0px 120px;
    }

    .knowledge h1{
        font-family: Roboto Slab;
        font-size: 5.5rem;
        line-height: 101.38%;
        margin-bottom: 55px;
    }

    .knowledge ul{
        padding-inline-start: 20px;
        margin-right: 30px;
        width: 53%;
    }

    .knowledge li{
        font-size: 1.5rem;
    }

    .knowledge span{
        display: block;
        font-family: Roboto;
        font-size: 2.4rem;
        line-height: 150%;
        margin-left: -2px;
    }
}




